{% extends 'base.html' %}
{% load myextras %}

{% block title %}Проекты {% endblock %}
{% block description %}Список всех проектов{% endblock %}
{% block extra_head %}
{% endblock %}
{% block body %}                
<div class="page-content main_page_content">
	<div class="col-md-12">
		<div class="clearfix">
			<div class="row">
{% if slug == 'open' %}
				<div class="col-md-8">
					<h1 class="pull-left">Проекты открытые для вступления</h1>
				</div>
				<div class="col-md-4">
					<p class="pull-right"><a href="{% url 'projects' %}">Все проекты <span class="fa fa-location-arrow"></span></a></p>
				</div>				
{% else %}			
				<div class="col-md-7">
					<h1 class="pull-left">Все проекты</h1>
				</div>
				<div class="col-md-4 col-md-offset-1">
					<p class="pull-right"><a href="{% url 'projects' 'open' %}">Открытые проекты <span class="fa fa-location-arrow"></span></a></p>
				</div>				
{% endif %}				
			</div>
		</div>
		{% for d in object_list %}		
		<div class="row thumbnail">
			<div class="col-md-4 text-center">
				{% if d.image %}
				
					<a href="{% url 'project' d.pk %}">
						<img src="{{d.get_image_url}}" style="width: 100%;max-height: 250px" alt="{{d.title}}"/>
					</a>
				
				{% endif %}
			</div>
			<div class="col-md-8">
				<div class="caption">
					<h2 class="h4"><a href="{% url 'project' d.pk %}">{{d.title}}</a></h2>
					<p><a target="_blank" href="{{d.getLink}}"><span class="fa fa-external-link"></span> {{d.link}}</a></p>
				</div>
				<p><span class="fa fa-cog"></span>  {{d.tehs|split_tehs|default:"не указаны"}}</p>
				<p>{{d.description|urlize}}</p>
				{% if d.is_open %}
				<p><a href="{{d.get_absolute_url}}" class='text-success fs120'><span class="fa fa-hand-o-up"></span> открыт для вступления</a></p>
				{% endif %}
			</div>
		</div>
		{% empty %}
		<a class="list-group-item"href="{% url 'add_project' %}">В портфолио пусто, нажмите, чтобы добавить запись</a>
		{% endfor %}
	</div>
</div>
{% endblock %}
