{% extends 'base.html' %}
{% block title %}Подтверждение удаления файла {{object.name}}{% endblock %}
{% block body %}                
<div class="page-content main_page_content">
	<h1>Удалить файл {{object.name}}?</h1>	
	{% if current_user.man = file.man %}
	<a href="{% url 'delete_file' object.id %}" class="btn btn-danger">удалить</a>
	{% endif %}
</div>

{% endblock %}

