{% extends 'base.html' %}
{% load static %}
{% block title %}{{object.title}}{% endblock %}
{% block description %}{{object.title}} - файл {{object.name}}{% endblock %}
{% block extra_head %}
<link type="text/css" rel="stylesheet" href="{% static 'css/highlight/default.css'%}">
{% endblock %}
{% block body %}                
<div class="page-content main_page_content">
	<div class="row">
		<div class="col-md-9">
			<h1>{{object.title}}</h1>
			<p><a href="/{{object.file.url}}">Скачать {{object.name}} ({{object.size|filesizeformat}})</a></p>
		</div>
		<div class="col-md-3">
			<div class="media">
				<a class="pull-left" href="{{object.man.get_absolute_url}}">
					<img src="{{object.man.get_image_url}}" style="width: 64px;height: 64px"/>
				</a>
				<div class="media-body text-left">									
					<h4><a href="{% url 'man' object.man.id %}">{{object.man.name}}</a></h4>
					<p>{{object.man.prof.name}}</p>
				</div>
			</div>
		</div>
	</div>
	<div class="clearfix">
		<a href="/{{object.file.url}}" class="btn btn-primary pull-left">скачать</a>
		{% if current_user.man == object.man %}	
		<a href="{% url 'delete_file' object.id %}" class="btn btn-danger pull-right">удалить</a>
		{% endif %}
	</div>
	{% if object.source_language %}
	<pre>
		<code class="hljs">
		{{object.content}}
		</code>
	</pre>
	{% elif object.is_image %}
	<div class="containter clearfix mt10 text-center">
		<p><a href="/{{object.file.url}}"><img src="/{{object.file.url}}" alt="изображение" /></a></p>
	</div>
	{% endif %}
</div>
{% endblock %}

{% block extra_foot %}
<script src="{% static 'js/highlight.pack.js' %}"></script>
<script>
	hljs.initHighlighting();
</script>
{% endblock %}
