{% extends 'base.html' %}
{% block title %}Файлы {{current_user.man.name}}{% endblock %}




{% block body %}                
<div class="page-content main_page_content">
	<h1>Файлы {{current_user.man.name}}</h1>
	<div class="row">
	{% for d in object_list %}
		<div class="col-md-2 text-center">
			<p><a href="{% url 'file' d.pk %}">{{d.name}} ({{d.size|filesizeformat}})</a></p>
		</div>
	{% endfor %}
		<div class="col-md-2 text-center">
			<p><button data-toggle="modal" data-target="#upload_file_dlg" class="btn btn-warning" style="height:120px;width:158px">Загрузить<br/>файл</button></p>
		</div>
	</div>
	
</div>
{% include 'files/upload_file_dlg.htm' %}

{% endblock %}

