<div class="modal fade" id="upload_file_dlg" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
	  
	  
	    
		<form id="form_add_topic" enctype="multipart/form-data" role="form" action="" method="post">
			<input type="hidden" name="{{form.man.name}}" value="{{current_user.man.id}}" />
			
			<div class="form-group">
				<label for="{{form.title.name}}">
					{{form.title.label}}:
				</label>
				<input type="text" class="form-control" name="{{form.title.name}}" id="{{form.title.name}}"/>
			</div>
			
			<div class="form-group">
				<label for="{{form.file.name}}">{{form.file.label}}:</label>
				<input type="file" id="{{form.file.name}}" name="{{form.file.name}}" class="form-control" />
			</div>
			
		</form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
        <button type="button" class="btn btn-primary" onclick="document.getElementById('form_add_topic').submit()">Отправить</button>
      </div>
    </div>
  </div>
</div>