<div class="modal fade" id="add_group_dlg" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
		<form id="form_add_group" role="form" action="" method="post">
			<div class="form-group">
				<label for="title">
					Заголовок:
				</label>
				<input type="text" class="form-control" name="title" id="title"/>
			</div>
			<div class="form-group">
				<label for="text">Описание:</label>
				<textarea id="text" name="text" class="form-control"></textarea>
			</div>
			<div class="form-group">
				<label for="src_link">
					Источник RSS:
				</label>
				<input type="text" class="form-control" name="src_link" id="src_link"/>
			</div>			
		</form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
        <button type="button" class="btn btn-primary" onclick="document.getElementById('form_add_group').submit()">Отправить</button>
      </div>
    </div>
  </div>
</div>