{% extends 'base.html' %}
{% block title %}{{object.title}}{% endblock %}
{% block body %}        
<form id="form_add_topic" role="form" action="" method="post">
	<input type="hidden" name="object_id" value="{{object.id|default:0}}" />
	<input type="hidden" name="group_id" value="{{group_id|default:0}}" />
	<div class="form-group">
		<label for="title">
			Заголовок:
		</label>
		<input type="title" class="form-control" name="title" id="title" value="{{object.title|default:""}}"/>
	</div>
	<div class="form-group">
		<div class="checkbox">
			<label>
				<input type="checkbox" name="is_not_active" {% if not object.is_active %}checked="checked"{% endif%}> черновик
			</label>
		</div>
	</div>
	<div class="form-group">
		<label for="text">Описание:</label>
		<textarea id="text" name="text" class="form-control">{{object.text|default:""}}</textarea>
	</div>
	<div class="form-group">
		<label for="link">
			Ссылка:
		</label>
		<input type="link" class="form-control" name="link" id="link" value="{{object.link|default:""}}"/>
	</div>			
	
	<div class="form-group">
		<label for="full_text">Текст:</label>
		<textarea id="full_text" name="full_text" class="form-control" style="height:300px">{{object.full_text|default:""}}</textarea>
	</div>
	
	<div class="form-group">
		<label for="tags">Теги:</label>
		<input type="tags" class="form-control" name="tags" id="tags" value="{{object.tags|default:""}}"/>
	</div>

	<button class="btn btn-primary">Сохранить</button>
	<p>&nbsp;</p>
</form>





{% endblock %}
