{% extends 'base.html' %}
{% load static %}
{% load myextras %}
{% block title %}Новости{% endblock %}

{% block extra_head %}
<script type="text/javascript" src="{% static 'js/newscontroller.js' %}"></script>

{% endblock %}

{% block body %}  
              
<div class="page-content main_page_content" ng-controller="NewsController">
	<h3>Люди</h3>
	<div class="row">
	{% for d in last_users %}
		<div class="col-md-2 text-center">
			<p><a href="{{d.get_absolute_url}}">{{d.prof.name}}</a></p>
			<p><a href="{{d.get_absolute_url}}"><img style="width:72px;height:72px" src="{{d.get_image_url}}" alt="{{d.name}}" /></a></p>
			<p><a href="{{d.get_absolute_url}}">{{d.name}}</a></p>			
			<p>{{d.naviks_str|split_naviks|safe}}</p>
		</div>
	{% endfor %}
	</div>
	
	<h3><a href="{% url 'projects' %}">Проекты</a></h3>
	{% for d in last_projects %}
		<div class="col-md-2 text-center">			
			<p><a href="{% url 'project' d.pk %}"><img style="width:72px;height:72px" src="{{d.get_image_url}}" alt="{{d.name}}" /></a></p>
			<p><a href="{% url 'project' d.pk %}">{{d.title}}</a></p>			
		</div>
	{% endfor %}
	
	<div class="topics" ng-init="loadNews()" ng-class="{loading: loading}">
		{% verbatim %}
		<div class="topic clearfix mt10 note note-warning" ng-repeat="d in news">
			<p style="font-size: 120%" class="box-heading" >
				<a href="{{d.group_url}}"><img class="group-avatar" ng-src="{{d.img_url}}" /></a>
				<a href="{{d.xlink}}" ng-if="d.xlink" target="_blank">{{d.title}}</a>
				<a href="{{d.link}}" ng-if="d.xlink == none"  target="_blank">{{d.title}}</a>
				<small class="pull-right">
					<i title="{{d.dt_str}}">{{d.dt}}</i>
					<br/>
					<a class="hide_action hided_link bookmark_topic pull-right" href="" id="btopic{{d.id}}" ng-click="bookmarkTopic(d.id)" title="Добавить в записи">&nbsp;</a>
				</small>
				
			</p>
			<p ng-bind-html="d.text"></p>
		</div>
		{% endverbatim %}
        <div ng-show="loading" class="app-content-loading" style="margin: 20px 0;text-align:center;">
          <i class="fa fa-spinner fa-spin loading-spinner"></i>
        </div>		
	</div>
	
	{% if current_user.is_active %}
	<button class="show_topics" href="#" ng-click="loadNews()"><i class="fa fa-eye"></i> Показать ещё</button>
	{% endif %}
</div>
{% endblock %}

