<div class="modal fade" id="add_topic_dlg" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
		<form id="form_add_topic" role="form" action="{% url 'add_topic' %}" method="post">
			<input type="hidden" name="group_id" value="{{group_id|default:0}}" />
			<div class="form-group">
				<label for="title">
					Заголовок:
				</label>
				<input type="title" class="form-control" name="title" id="title"/>
			</div>
			<div class="form-group">
				<label for="link">
					Ссылка:
				</label>
				<input type="link" class="form-control" name="link" id="link"/>
			</div>			
			<div class="form-group">
				<label for="text">Описание:</label>
				<textarea id="text" name="text" class="form-control"></textarea>
			</div>
		</form>
		<a href="{% url 'add_article' %}">будет большая запись <span class="fa fa-arrow-right"></span></a>
      </div>
	  
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
        <button type="button" class="btn btn-primary" onclick="document.getElementById('form_add_topic').submit()">Отправить</button>
      </div>
    </div>
  </div>
</div>