<div class="modal fade" id="add_project_man_dlg" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
		<form id="form_add_project_man" role="form" action="" method="post">
			<div class="form-group">
				<label for="role">
					Роль участника:
				</label>
				<input type="text" class="form-control" name="role" id="role"/>
			</div>
			
			{% for d in object.man.podpis1 %}
			<label for="man{{d.man2.id}}">
				<input type="checkbox" name="man{{d.man2.id}}" id="man{{d.man2.id}}"/>
				<img src="{{d.man2.get_image_url}}" style="max-width:64px;max-height:64px"/>				
				{{d.man2.name}}
			</label>			
			{% endfor %}
			{% comment %}
			{% for d in object.man.podpis2 %}
			<label for="man{{d.man1.id}}">
				<input type="checkbox" name="man{{d.man1.id}}" id="man{{d.man1.id}}"/>
				<img src="{{d.man1.get_image_url}}" style="max-width:64px;max-height:64px"/>				
				{{d.man1.name}}
			</label>
			{% endfor %}
			{% endcomment %}
		</form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
        <button type="button" class="btn btn-primary" onclick="document.getElementById('form_add_project_man').submit()">Отправить</button>
      </div>
    </div>
  </div>
</div>