<div class="topic">
	<p>
		<img style="width:36px;height:36px" src="{{d.image_link}}" />		
		<a href="{% if d.group %}{{d.group.get_absolute_url}}{% else %}{{d.link}}{% endif %}">{{d.title}}</a>
			
		<small class="pull-right">{{d.dt|date:"d E Y H:i"}} 
		{% if d.man = current_man %}
		<br/><a class="hide_action hided_link" href="{% url 'hide_action' d.id %}">скрыть</a>
		{% endif %}
		</small>
	<p>
	</p><a href="{{d.link}}">{{d.text}}</a></p>	
	<hr/>
</div>
