{% extends 'base.html' %}
{% load myextras %}
{% block title %}{{object.title}}{% endblock %}
{% block keywords %}{{object.tags}}{% endblock %}
{% block description %}{{object.text}}{% endblock %}
{% block extra_head %}
<meta property="og:type"        content="article" /> 
<meta property="og:url"         content="http://aboutme.pro{% url 'article' object.id %}" /> 
<meta property="og:title"       content="{{object.title}}" />
<meta property="og:description" content="{{object.text}}" />
{% endblock %}
{% block body %}                
<!--BEGIN CONTENT-->
<div class="page-content main_page_content">
	{% if object.group %}
		<img style="width:36px;height:36px" src="{{object.group.get_image_url}}" alt="{{object.group.name}}" />		
		<a href="{% url 'group' object.group.pk %}" style="font-size:140%">{{object.group.name}}</a>	
	{% endif %}
	
	{% if not object.is_active %}
	<div class="alert alert-warning"><p>Черновик</p></div>
	{% endif %}
	<h1>{{object.title}}</h1>	
	<p>{{object.text|default:""|safe|linebreaks}}</p>
	
	{% if object.link %}<p><a href="{{object.link}}" target="_blank"><i class="fa fa-external-link">&nbsp;</i> читать далее... </a></p>{% endif %}
	
	{% if object.xlink %}<p><a href="{{object.xlink}}"><i class="fa fa-external-link">&nbsp;</i> читать далее... </a></p>{% endif %}
	

	
	
	<p>{{object.full_text|default:""|safe|linebreaks}}</p>
	{% if object.tags %}
	<p><i class="fa fa-tag"></i> {{object.tags|split_tags}}</p>
	{% endif %}
	
	{% if not object.group %}
	<div class="media">
		<a class="pull-left" href="{% url 'man' object.author.id %}">
			<img src="{{object.author.get_image_url}}" style="width: 64px;height: 64px"/>
		</a>
		<div class="media-body">
			<h4><a href="{% url 'man' object.author.id %}">{{object.author.name}}</a></h4>
			<p>{{object.author.prof.name}}</p>
		</div>
	</div>
	{% endif %}
	
	<h3>Комментарии</h3>
	
	{% for d in object.comments %}
	<div class="panel" id="comment{{d.id}}">
		<div class="panel-body">
			{% if current_user.is_staff %}
			<a class="hide_comment hided_link pull-right" ng-click="hideComment({{d.id}})" href="">скрыть</a>
			{% endif %}
			<p>
				{{d.man.name|default:'Аноним'}} {{d.dt|date:"d E Y H:i"}}
			</p>
			<p>{{d.text}}</p>
		</div>
	</div>
	{% endfor %}
	
	{% if current_man.is_active %}
	<!--button class="make-comment btn btn-info">Комментировать</button-->
	{% if current_user == object.author.user %}
	<a href="{% url 'edit_topic' object.pk %}" class="btn btn-warning">Редактировать</a>
	{% endif %}
	
	<div class="make-comment-block mt20">
		<form method="post" action="">
			<label for="comment-text">Комментарий</label>
			<textarea class="form-control" name="comment-text" id="comment-text" placeholder="Текст комментария"></textarea>
			<button class="btn btn-primary">Отправить</button>
		</form>
	</div>
	{% else %}
	<a href="/" class="btn btn-primary">Зарегистрируйтесь, чтобы оставить комментарий</a>
	
	{% endif %}
</div>
<!--END CONTENT-->
{% endblock %}
