{% load static %}
<!doctype html>
<html lang="en">
<head>
    <title>{% block title %}{% endblock %}</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">	
	<meta name="description" content="{% block description %}{% endblock %}">	
    <link rel="shortcut icon" href="/static/images/favicon.png">
	<meta name="theme-color" content="#3a6f9f">
    <!--link rel="apple-touch-icon" href="images/icons/favicon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="images/icons/favicon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="images/icons/favicon-114x114.png"-->
    <!--Loading bootstrap css-->
    <!--link type="text/css" rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,300,700"-->
    <!--link type="text/css" rel="stylesheet" href="http://fonts.googleapis.com/css?family=Oswald:400,700,300"-->
    <!--link type="text/css" rel="stylesheet" href="{% static 'css/jquery-ui-1.10.4.custom.min.css'%}"-->
    <link type="text/css" rel="stylesheet" href="{% static 'css/font-awesome.min.css'%}">
    <link type="text/css" rel="stylesheet" href="{% static 'css/bootstrap.min.css'%}">
    <link type="text/css" rel="stylesheet" href="{% static 'css/animate.css'%}">
    <!--link type="text/css" rel="stylesheet" href="{% static 'css/all.css'%}"-->
    <link type="text/css" rel="stylesheet" href="{% static 'css/main.css'%}">
    <link type="text/css" rel="stylesheet" href="{% static 'css/style-responsive.css'%}">
	<!--link rel="stylesheet" href="/static/css/angular-material.min.css"-->    
	
	<script type="text/javascript" src="{% static 'js/jquery-1.10.2.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/angular.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/angular-sanitize.min.js' %}"></script>
	
	{% if DEBUG %}
    <script type="text/javascript" src="/static/js/angular-animate.min.js"></script>
    <script type="text/javascript" src="/static/js/angular-aria.min.js"></script>
    <script type="text/javascript" src="/static/js/angular-messages.min.js"></script>
	
	{% else %}
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-animate.min.js"></script>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-aria.min.js"></script>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-messages.min.js"></script>
	{% endif %}
	
	<script src="{% static 'js/main.js' %}"></script>
	<!--script src="/static/js/angular-material.min.js"></script-->

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="/static/js/html5shiv.js"></script>
        <script src="/static/js/respond.min.js"></script>
    <![endif]-->
	
	{% block extra_head %}{% endblock %}
</head>
<body  ng-app="MainApp" ng-cloak>
	<div ng-controller="MainController">
	{% if user.is_authenticated %}
	<input type="hidden" id="check_new_messages" value="1"/>
	{% endif %}
        <!--BEGIN BACK TO TOP-->
        <a id="totop" href="#" class=""><i class="fa fa-angle-up"></i></a>
        <!--END BACK TO TOP-->
        <!--BEGIN TOPBAR-->
        <div id="header-topbar-option-demo" class="page-header-topbar container navbar-fixed-top" style="padding:0">
            <nav id="topbar" role="navigation" style="margin-bottom: 0;" data-step="3" class="navbar navbar-default navbar-center navbar-static-top">
			<div class="topbar-main">
				<div class="navbar-header">
					<a id="logo" class="navbar-brand" href="{% if current_user.is_authenticated %}{{current_man.get_absolute_url}}{% else %}/{%endif%}">
						<img src="{% get_static_prefix %}images/emblem.png"/>
					</a>
					{% if current_user.is_authenticated %}
					<form id="topbar-search" action="/search/" method="get" class="hidden-sm hidden-xs">
						<div class="input-icon right text-white"><a href="#" onclick="document.getElementById('topbar-search').submit()"><i class="fa fa-search"></i></a><input name="search_text" type="text" placeholder="Поиск..." class="form-control text-white" id="search-box" value="{{search_text|default:''}}"/></div>
					</form>
					{% endif %}
					<button aria-controls="navbar" aria-expanded="false" data-target="#navbar" data-toggle="collapse" class="navbar-toggle collapsed" type="button">
						<span class="sr-only">Меню</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>					
					{% if current_user.is_authenticated %}
					<div class="pull-right  hidden-md hidden-lg">
						<ul class="nav navbar navbar-top-links mbn">
							<li><a href="{% url 'news' %}"><i class="fa fa-file-text-o"></i>Новости</a></li>
						</ul>
					</div>
					{% endif %}
				</div>
					<div id="navbar" class="navbar-collapse collapse navbar-right">
						<ul class="nav navbar navbar-top-links mbn">
							
						{% if current_user.is_authenticated %}
							<li class="hidden-sm hidden-xs"><a href="{% url 'news' %}"><i class="fa fa-file-text-o"></i>Новости</a></li>
							{% if current_man.is_active %}					
							<li>
								<a href="{% url 'messages' %}"><i class="fa fa-envelope"></i>Сообщения 
								{% verbatim %}
									<span ng-if="new_messages_count">({{new_messages_count}})</span>
								{% endverbatim %}
								</a>
							</li>
							<li><a href="{% url 'files' %}"><i class="fa fa-files-o"></i>Файлы</a></li>
							<li><a data-toggle="modal" href="#add_topic_dlg" ><i class="fa fa-pencil"></i>Написать</a></li>
							{% endif %}
							<li><a href="/logout/"><i class="fa fa-sign-out"></i>Выход</a></li>
						{% else %}
							<li><a href="/"><i class="fa fa-child"></i>Регистрация</a></li>
							<li><a href="/"><i class="fa fa-sign-in"></i>Вход</a></li>
						{% endif %}
						</ul>
					</div>					
				

			</div>
			</nav>
		</div>
        <!--END TOPBAR-->
		
        <div id="wrapper"  ng-init="updateNews()">
            <div class="container" id="page">
				{% block body  %}{% endblock %}
            </div>
        </div>
		
		
    </div>

	{% block extra_foot %}{% endblock %}

	{% if user.is_authenticated %}
		{% include "add_topic_dlg.htm" %}
	{% endif %}
	
<!-- Yandex.Metrika counter -->
<script type="text/javascript">
    (function (d, w, c) {
        (w[c] = w[c] || []).push(function() {
            try {
                w.yaCounter40106600 = new Ya.Metrika({
                    id:40106600,
                    clickmap:true,
                    trackLinks:true,
                    accurateTrackBounce:true
                });
            } catch(e) { }
        });

        var n = d.getElementsByTagName("script")[0],
            s = d.createElement("script"),
            f = function () { n.parentNode.insertBefore(s, n); };
        s.type = "text/javascript";
        s.async = true;
        s.src = "https://mc.yandex.ru/metrika/watch.js";

        if (w.opera == "[object Opera]") {
            d.addEventListener("DOMContentLoaded", f, false);
        } else { f(); }
    })(document, window, "yandex_metrika_callbacks");
</script>
<noscript><div><img src="https://mc.yandex.ru/watch/40106600" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->
</body>
</html>
