{% extends 'base.html' %}
{% load static %}
{% block title %}{{object.title}}{% endblock %}
{% block extra_head %}
<link type="text/css" rel="stylesheet" href="{% static 'css/droparea.css'%}">
{% endblock %}
{% block body %}                
<form id="form" role="form" enctype="multipart/form-data" action="" method="post">
	{% if current_man.is_active %}
	<h1>Редактирование профиля</h1>
	{% else %}
	<h1>Заполните данные профиля {{current_user.username}}</h1>
	{% endif %}
	<div class="row">
		<div class="col-md-2">
			<h2>Аватарка:</h2>
			<div class="editfoto_box">
				<div class="droparea" >
					<img src="{{current_man.get_image_url}}" id="image_preview" style="width:150px;height:150px">
				</div>
				<input type="file" name="image" id="image" accept="image/*" style="display: none;" >			
			</div>
			
		</div>
		<div class="col-md-10">
			<div class="form-group">
				<label for="name">
					Ваше имя:
				</label>
				<input type="text" class="form-control" name="name" id="name" value="{{object.name|default:""}}" placeholder="Ваше имя"/>
			</div>
			<div class="form-group">
				<label for="city">
					Город:
				</label>
				<input type="text" class="form-control" name="city" id="city" value="{{object.city|default:""}}"/>
			</div>
			<div class="form-group">
				<label for="prof">
					Профессия:
				</label>
				<input type="text" class="form-control" name="prof" id="prof" value="{{object.prof.name|default:""}}"/>
			</div>
			<div class="form-group">
				<label for="password">
					Пароль: {% if current_man.is_active %}<small>(оставьте пустым, если не собираетесь его менять)</small>{% endif %}
				</label>
				<input type="text" class="form-control" name="password" id="password" value=""/>
			</div>
			
			<p>&nbsp;</p>
		</div>
	</div>
	<label for="aboutme">О себе:</label>
	<textarea class="form-control" name="aboutme">{{object.aboutme|default:""}}</textarea>
	<button type="button" class="btn btn-primary" onclick="document.getElementById('form').submit()">Сохранить</button>
</form>




{% endblock %}

{% block extra_foot %}
<script type="text/javascript" src="{% static 'js/droparea.js' %}"></script>
<script>
$(function(){
	$('.droparea').droparea({file_holder:'#image',file_preview:'#image_preview'});
})
</script>
{% endblock %}