{% extends 'base.html' %}
{% load static %}
{% block title %}
	{% if form %}
	Редактирование проекта {{form.title.name}}
	{% else %}
	Добавить проект в портфолио
	{% endif %}
{% endblock %}
{% block extra_head %}
<link type="text/css" rel="stylesheet" href="{% static 'css/droparea.css'%}">
{% endblock %}
{% block body %}                
<div class="page-content main_page_content">
	<form id="edit_project" enctype="multipart/form-data" role="form" action="" method="post">
		<input type="hidden" name="{{form.man.name}}" value="{{form.man.value}}"/>
		<div class="row">
			<div class="col-md-3">
				<div class="editfoto_box">
					<div class="droparea" >
						{% if form.instance %}
						<img src="{{form.instance.get_image_url|default:'/static/images/plus_foto.png'}}" id="image_preview" style="width:150px;height:150px">
						{% else %}
						<img src="/static/images/plus_foto.png" id="image_preview" style="width:150px;height:150px">
						{% endif %}
					</div>
					<input type="file" name="image" id="image" accept="image/*" style="display: none;" >			
				</div>
				<div class="clearfix"></div>
				<div class="form-group">
					<label for="id_{{form.is_open.name}}">
						{{form.is_open}}
						открыт для новых участников
					</label>
				</div>
				<div class="form-group">
					<label for="id_{{form.on_main.name}}">
						{{form.on_main}}
						показывать на странице профиля
					</label>
				</div>				
			</div>
			<div class="col-md-9">
				<div class="form-group">
					<label for="{{form.title.name}}">
						Наименование:
					</label>
					<input type="text" class="form-control" name="{{form.title.name}}" id="{{form.title.name}}" value="{{form.title.value|default:""}}"/>
				</div>
				
				<div class="form-group">
					<label for="{{form.link.name}}">
						Ссылка:
					</label>
					<input type="text" class="form-control" name="{{form.link.name}}" id="{{form.link.name}}" value="{{form.link.value|default:""}}"/>
				</div>
				
				<div class="form-group">
					<label for="{{form.short_text.name}}">
						Краткое описание:
					</label>
					<input type="text" class="form-control" name="{{form.short_text.name}}" id="{{form.short_text.name}}" value="{{form.short_text.value|default:""}}"/>
				</div>
				
				<div class="form-group">
					<label for="{{form.tehs.name}}">
						Используемые технологии:
					</label>
					<input type="text" class="form-control" name="{{form.tehs.name}}" id="{{form.tehs.name}}" value="{{form.tehs.value|default:""}}"/>
				</div>
			</div>
		</div>
		<div class="form-group">
			<label for="{{form.description.name}}">
				Описание:
			</label>
			<textarea class="form-control" name="{{form.description.name}}" id="{{form.description.name}}" style="min-height: 300px">{{form.description.value|default:""}}</textarea>
		</div>
		
	</form>
	<button type="button" class="btn btn-primary" onclick="document.getElementById('edit_project').submit()">Сохранить</button>
	{% if instance %}
	<a class="btn btn-grey" href="{{instance.get_absolute_url}}">Отмена</a>
	{% endif %}

</div>

{% endblock %}

{% block extra_foot %}
<script type="text/javascript" src="{% static 'js/droparea.js' %}"></script>
<script>
$(function(){
	$('.droparea').droparea({file_holder:'#image',file_preview:'#image_preview'});
})
</script>
{% endblock %}