{% extends 'base.html' %}
{% block title %}Каналы{% endblock %}
{% block body %}                
<div class="page-content main_page_content">
	
	<h1>
		Каналы
		{% if current_user.is_authenticated %}
		<button data-toggle="modal" data-target="#add_group_dlg" class="btn btn-primary pull-right">Предложить канал</button>
		{% endif %}
	</h1>
	
	<div class="row">
	{% for d in object_list %}
		<div class="col-md-2 text-center">
			<p><a href="{% url 'group' d.pk %}"><img style="width:72px;height:72px" src="{{d.get_image_url}}" alt="{{d.name}}" /></a></p>
			<p><a href="{% url 'group' d.pk %}">{{d.name|default:"noname"}}</a></p>
		</div>
	{% endfor %}
	</div>
	
</div>

{% if current_user.is_authenticated %}
	{% include "groups/add_group.htm" %}
{% endif %}

{% endblock %}

