{% extends 'base.html' %}
{% block title %}{{object.name}}{% endblock %}
{% block body %}                
<div class="page-content main_page_content">
	<div class="row">
		<div class="col-md-9">
			<h1>{% if object.image %}<img style="width:72px;height:72px" src="{{object.get_image_url}}" alt="{{d.name}}" />{% endif %}{{object.name}}</h1>
			{% if object.description %}<p>{{object.description}}</p>{% endif %}		
		
			
		</div>
		<div class="col-md-3 text-center">
            {% if current_user.is_active %}
                {% if have_podpis %}
                <a class="btn btn-warning podpis_group mt10" href="?podpis=1">Отписаться</a>
                {% else %}
                <a class="btn btn-primary podpis_group mt10" href="?podpis=1">Подписаться на канал</a>				
                {% endif %}
            {% endif %}
		</div>
	</div>

	<hr/>
	<div class="topics" ng-init="loadTopics()">
		{% verbatim %}
		<div class="topic note note-warning" ng-repeat="d in topics">
		
			<a href="" id="btopic{{d.id}}" ng-click="bookmarkTopic(d.id)" class="pull-left"><span class="fa fa-bookmark"></span>&nbsp;</a>
		

			<p style="font-size: 120%" class="box-heading">
				<a href="{{d.xlink}}" ng-if="d.xlink" target="_blank">{{d.title}}</a>
				<a href="{{d.link}}" ng-if="d.xlink == none">{{d.title}}</a>
				<small class="pull-right"><i title="{{d.dt_str}}">{{d.dt}}</i></small>
			</p>
			<p ng-bind-html="d.text"></p>
		</div>
		{% endverbatim %}
	</div>
	
	{% if current_user.is_active %}
	<button class="show_topics" href="#" ng-click="loadTopics()"><i class="fa fa-eye"></i> Показать ещё</button>
	{% endif %}
	
	{% if current_user.is_staff or current_man == object.author %}
		{% if group.is_removed %}
			<a href="?rm=1" class="btn btn-danger btn-xs pull-right">Восстановить</a>
		{% else %}
			<a href="?rm=1" class="btn btn-danger btn-xs pull-right" onclick="confirm('Удалить канал?')">Удалить</a>
		{% endif %}
	{% endif %}
</div>

{% endblock %}

