{% extends 'base.html' %}
{% block title %}Главная{% endblock %}
{% block body %}                
<!--BEGIN CONTENT-->
<div class="page-content main_page_content">
	
	<div class="row">
		<div class="col-sm-6 col-md-2"></div>
		<div class="col-sm-6 col-md-3">
			<div class="panel db mbm work_panel">
				<div class="panel-body text-center">
					<a href="{% url 'phones' %}"><img src="/static/images/phone.png"/></a>
					<p class="mt10"><a href="{% url 'phones' %}">Список телефонов депутатов и сотрудников Аппарата Государственной Думы Федерального Собрания Российской Федерации</a></p>
				</div>
			</div>
		</div>
		<div class="col-sm-6 col-md-2"></div>
		<div class="col-sm-6 col-md-3">
			<div class="panel db mbm work_panel">
				<div class="panel-body text-center">
					<a href="{% url 'golos' %}"><img src="/static/images/calls.png"/></a>
					<p class="mt10"><a href="{% url 'golos' %}">Учет передачи голосов другому депутату на заседаниях Государственной Думы</br></a></p>
				</div>
			</div>
		</div>
		<div class="col-sm-6 col-md-2"></div>
	</div>
	
</div>
<!--END CONTENT-->
{% endblock %}

{% block extra_foot %}
<script>
$(function(){
	$("#menu-main").addClass("active")
})
</script>
{% endblock %}