{% extends "base.html" %}
{% load static %}
{% load myextras %}
{% block title %}Расскажите о себе{% endblock %}
{% block description %}Здесь можно разместить своё портфолио{% endblock %}
{% block keywords%}разместить портфолио,портфолио{% endblock %}
{% block body %}
<div class="container">
	{% if msg %}<div class="alert alert-danger">{{msg}} <a href="{% url 'reset_password' %}?email={{email}}"><small>восстановить пароль</small></a></div>{% endif %}
	<div class="row">		
		<div class="col-md-5" style="margin-top: 40px">
			<div class="info-block register-block">
				<h1 class="h4">Над чем вы работаете? Расскажите о себе и покажите свои работы.</h1>
				<form class="form-signin" method="post" action="{% url 'login' %}">
					
					<div class="form-group">
						<label for="phone">Введите ваш E-Mail для регистрации</label>
						<input type="email" placeholder="Ваш E-mail" id="r_username" class="form-control r_username" name="r_username" placeholder="" value="{{username|default:''}}">
					</div>
					<div class="form-group mt10">
						<button class="btn btn-lg btn-primary btn-block" type="submit">Зарегистрироваться</button>
					</div>
				</form>
			</div>
		</div>		
		
		<div class="col-md-offset-1 col-md-5" style="margin-top: 40px">		
			<div class="info-block login-block">				
				<form class="form-signin" method="post" action="{% url 'login' %}">
					
					<p style="font-size: 150%">Вход</p>
					<div class="form-group">
						<label for="phone">E-Mail</label>
						<input type="text" id="username" class="form-control username" name="username" placeholder="" value="{{username|default:''}}">
					</div>
					<div class="form-group">
						<label for="password">Пароль</label>
						<input type="password" id="password" class="form-control" name="password" placeholder="">
					</div>
					<div class="form-group mt10">
						<button class="btn btn-lg btn-primary btn-block" type="submit" onclick="$('#r_username').val('')">Войти</button>
					</div>
					<div class="text-center"><a href="{% url 'reset_password' %}"><small>забыл пароль</small></a></div>
				</form>
			</div>
		</div>

	</div>
	
	<div class="row">
	{% for d in last_users %}
		<div class="col-md-2 text-center">
			<div class=" info-block-small">
				<p><a href="{{d.get_absolute_url}}">{{d.prof.name}}</a></p>
				<p><a href="{{d.get_absolute_url}}"><img style="width:72px;height:72px" src="{{d.get_image_url}}" alt="{{d.name}}" /></a></p>
				<p><a href="{{d.get_absolute_url}}">{{d.name}}</a></p>			
				<p>{{d.naviks_str|split_naviks|safe}}</p>
			</div>
		</div>
	{% endfor %}
	</div>
	
	{% for d in last_projects %}
		<div class="col-md-2 text-center">
			<div class=" info-block-small">		
				<p><a href="{% url 'project' d.pk %}"><img style="width:72px;height:72px" src="{{d.get_image_url}}" alt="{{d.name}}" /></a></p>
				<p><a href="{% url 'project' d.pk %}">{{d.title}}</a></p>			
			</div>
		</div>
	{% endfor %}
</div> 
{% endblock %}
{% block extra_foot %}
<script src="/static/js/jquery.backstretch.min.js"></script>
<script>
$('body').backstretch('/static/images/backstretch1.jpg');
</script>
{% endblock %}