{% extends 'base.html' %}
{% load myextras %}

{% block title %}{{object.name}}{% endblock %}
{% block description %}{{object.prof.name}} {{object.name}} - записи, навыки и портфолио{% endblock %}
{% block extra_head %}
<meta property="og:url" content="http://aboutme.pro{% url 'man' object.id %}">
<meta property="og:title" content="{{object.name}} - {{object.prof}}">
<meta property="og:description" content="{{object.name}} на сайте для профессионалов своего дела">
<meta property="og:image" content="http://aboutme.pro{{object.get_image_url}}">
{% endblock %}
{% block body %}                
<div class="page-content main_page_content">
	{% if good_msg %}
	<div class="alert alert-success">Ваш аккаунт активирован</div>
	{% endif %}
	
	{% if current_man == object and not current_man.is_active %}
	<div class="alert alert-danger">
		<a target="_blank" href="{{current_user.username|mailserver}}">Аккаунт не активирован, проверьте почту {{current_user.username}} для активации аккаунта (если письмо не пришло, проверьте папку "спам")</a>
	</div>
	{% endif %}
	
	<div class="row">	
		<div class="col-md-6">
			<div class="row">
				<div class="col-md-6">
					<div class="text-center">
						<p><img src="{{selected_man.get_image_url}}" style="max-width: 250px;max-height: 250px"/></p>
						
						<h1 class="text-center">
							{% if current_man == object %}
							<a href="{% url 'edit_profile' current_man.pk %}">{{selected_man.name}}</a>
							{% else %}
							{{selected_man.name}}
							{% endif %}
						</h1>
						<p><a href="{% url 'search' %}?prof={{selected_man.prof.name}}"><strong>{{selected_man.prof}}</strong></a></p>
						{% if selected_man.city %}<p>{{selected_man.city}}</p>{% endif %}
						{% if current_man == object %}
						
						{% elif current_user.man.is_active %}
							{% if have_podpis %}
								<p><a class="btn btn-sm btn-warning ajax_and_hide btn-profile" href="{% url 'podpis_man' selected_man.pk %}">Отписаться</a></p>
							{% else %}
								<p><a class="btn btn-sm btn-info ajax_and_hide btn-profile" href="{% url 'podpis_man' selected_man.pk %}">Подписаться</a></p>
							{% endif %}
							<p><button  data-toggle="modal" data-target="#send_message_dlg" class="btn btn-sm btn-primary btn-profile">Написать сообщение</button></p>					
						{% endif %}
					</div>
					
					
					

					{% comment %}
					{% if selected_man.podpis2 %}
						<p><a>Подписчики:</a></p>
						{% for d in selected_man.podpis2 %}
							<div class='man-little'>
								<a href="{{d.man1.get_absolute_url}}"><img src='{{d.man1.get_image_url}}'/></a>
								<p><a href="{{d.man1.get_absolute_url}}">{{d.man1.name}}</a></p>
							</div>
						{% endfor %}
					{% endif %}	
					{% endcomment %}
				</div>
				<div class="col-md-6">
					<div class="clearfix">
						<h2 class="pull-left">Навыки</h2>
						{% if current_man == object %}
							<a class="edit_link pull-right" style="margin-top: 28px" href="{% url 'edit_naviks' current_user.man.id %}"><small>редактировать</small></a>
						{% endif %}
					</div>
					
					<div class="list-group">
						{% for d in selected_man.naviks %}
						<a class="list-group-item" href="{% url 'search' %}?interes={{d.navik.name|urlencode}}">
							{{d.navik.name}} 
							<span class="badge {{d.badge_class}} pull-right" title="с {{d.srok}} года">{{d.badge_srok}}</span>
						</a>
						{% empty %}
						{% if current_man == object %}
							<a href="{% url 'edit_naviks' current_user.man.id %}" class="list-group-item text-danger">заполнить</a>
						{% else %}
							навыков нет
						{% endif %}
						{% endfor %}
					</div>
					
					<p>{{selected_man.interes|split_naviks|default:"ничем не интересуется"}}</p>
					
				</div>				
			</div>
			<p>{{selected_man.aboutme|default:""}}</p>
			<p>	
				<a href="{% url 'groups' %}">Подписки:</a>
				{% if not selected_man.groups and not selected_man.podpis1 %}
					<a href="{% url 'groups' %}">выбрать&nbsp;<i class="fa fa-angle-right"></i></a>
				{% endif %}
				{% for d in selected_man.groups %}
						<a href="{% url 'group' d.id %}">{{d.name}}</a>{% if not forloop.last %},{% endif %}{% if forloop.last and selected_man.podpis1 %},{% endif %}
				{% endfor %}
						
				{% for d in selected_man.podpis1 %}
						<a href="{{d.man2.get_absolute_url}}">{{d.man2.name}}</a>{% if not forloop.last %},{% endif %}
				{% endfor %}
			</p>			
		</div>
		<div class="col-md-6">
			<div class="clearfix">
				<h2 class="pull-left">Портфолио</h2>
				{% if current_man == object and current_man.is_active %}
					<a class="edit_link pull-right" style="margin-top: 28px" href="{% url 'add_project' %}"><small>добавить</small></a>
				{% endif %}
			</div>
			<div class="row">
				{% for d in selected_man.projects_on_main %}
				<div class="col-md-6 text-center">
					<div class="thumbnail">
						{% if d.image %}
						<a href="{% url 'project' d.pk %}">
							<img src="{{d.get_image_url}}" style="width: 100%;max-height: 250px" alt="{{d.title}}"/>
						</a>
						{% endif %}
						<div class="caption">
							<p><a href="{% url 'project' d.pk %}">{{d.title}}</a></p>
							<p><a target="_blank" href="{{d.getLink}}">{{d.link}}</a></p>
						</div>
					</div>
				</div>
				{% empty %}
				<a class="list-group-item"href="{% url 'add_project' %}">В портфолио пусто, нажмите, чтобы добавить запись</a>
				{% endfor %}
			</div>
			<a href="{% url 'man_projects' object.slug %}" class="pull-right">все проекты <span class="fa fa-location-arrow"></span> </a>
		</div>
	</div>
	

	
	<div class="row">
		{% if current_man == object %}
		<div class="col-md-6">
			<div class="clearfix">			
				<h3 class="pull-left">Оповещения</h3>			
			</div>
			
			
			{% verbatim %}
			
			<input type="hidden" id="check_alerts" value="1"/>
			
			<div class="topic note note-warning" ng-repeat="d in news | orderBy: '-id'">
				<table class="width100">
					<tr>
						<td style="width: 40px">
							<img class="avatar-small" ng-src="{{d.image}}" />		
						</td>
						<td>
							<a href="{{d.link1}}" class="namelink box-heading">{{d.title}}</a>
						</td>
						<td rowspan="2" style="width: 100px" valign="top">
							<div title="{{d.dt_str}}" class="width100 text-right">{{d.dt}}</div>
							<a class="hide_action hided_link bookmark_topic pull-right" href="" id="btopic{{d.tid}}" ng-click="bookmarkTopic(d.tid)" title="Добавить в записи">&nbsp;</a>
							<a class="hide_action hided_link hide_alert pull-right" href="" ng-click="hideAlert(d.id)" title="Удалить">&nbsp;</a>
						</td>
					</tr>
					<tr>
						<td colspan="2">
							<p><a href="{{d.link2}}">{{d.text}}</a></p>	
						</td>
					</tr>
				</table>
				
			</div>
			<p ng-if="news.length == 0"><i>Оповещений нет</i></p>
			{% endverbatim %}
		</div>
		
		<div class="col-md-6">
		{% else %}
		<div class="col-md-12">
		{% endif %}
			<div class="clearfix">
				{% if selected_man.topics %}
				<h3 class="pull-left">Записи {{object.name}}</h3>
				{% endif %}
				{% if object == current_man and current_man.is_active %}
				<a data-toggle="modal" href="#add_topic_dlg" class="btn btn-info btn-xs pull-right mt20 "><i class="fa fa-plus"></i> Добавить запись</a>
				{% endif %}
			</div>
			
			{% if current_man == object %}
				{% for d in selected_man.my_topics %}
					{% include 'topic.htm' with nomark=1 show_remove=1 %}
				{% endfor %}
			{% else %}
				{% for d in selected_man.topics %}
					{% include 'topic.htm' %}
				{% endfor %}
			{% endif %}
		</div>
	</div>
</div>

{% if current_man.is_active %}
	{% include "messages/send_message_dlg.htm" %}
	
{% endif %}
{% endblock %}
