{% extends 'base.html' %}
{% load myextras %}

{% block title %}Проекты {{object.name}}{% endblock %}
{% block description %}Все проекты {{object.prof.name}} {{object.name}}{% endblock %}
{% block extra_head %}
<meta property="og:url" content="http://aboutme.pro{% url 'man' object.id %}">
<meta property="og:title" content="{{object.name}} - {{object.prof}}">
<meta property="og:description" content="{{object.name}} на сайте для профессионалов своего дела">
<meta property="og:image" content="http://127.0.0.1:8000/{{object.get_image_url}}">
{% endblock %}
{% block body %}                
<div class="page-content main_page_content">
	<div class="col-md-12">
		<div class="clearfix">
			<h1 class="pull-left">Все проекты <a href="{{object.get_absolute_url}}">{{object.name}}</a></h1>
			{% if current_man == object and current_man.is_active %}
				<a class="edit_link pull-right" style="margin-top: 28px" href="{% url 'add_project' %}"><small>добавить</small></a>
			{% endif %}
		</div>
		{% for d in object.projects %}		
		<div class="row">
			<div class="col-md-4 text-center">
				<div class="thumbnail">
					{% if d.image %}
					<a href="{% url 'project' d.pk %}">
						<img src="{{d.get_image_url}}" style="width: 100%;max-height: 250px" alt="{{d.title}}"/>
					</a>
					{% endif %}
				</div>
			</div>
			<div class="col-md-8">
				<div class="caption">
					<h2 class="h4"><a href="{% url 'project' d.pk %}">{{d.title}}</a></h2>
					<p><a target="_blank" href="{{d.getLink}}"><span class="fa fa-external-link"></span> {{d.link}}</a></p>
				</div>
				<p><span class="fa fa-cog"></span>  {{d.tehs|split_tehs|default:"не указаны"}}</p>
				<p>{{d.description|urlize}}</p>
				{% if d.is_open %}
				<p><a href="{{d.get_absolute_url}}" class='text-success fs120'><span class="fa fa-hand-o-up"></span> открыт для вступления</a></p>
				{% endif %}
			</div>
		</div>
		{% empty %}
		<a class="list-group-item"href="{% url 'add_project' %}">В портфолио пусто, нажмите, чтобы добавить запись</a>
		{% endfor %}
	</div>
</div>
{% endblock %}
