{% load myextras %}
<div class="media">
	<a class="pull-left" href="{{d.get_absolute_url}}">
		<img class="media-object" alt="avatar" style="width: 64px; height: 64px;" src="{{d.get_image_url}}">
	</a>
	<div class="media-body">
		<h4 class="media-heading"><a href="{{d.get_absolute_url}}">{{d.name}}</a></h4>
		{{d.prof.name}}<br/>
		{{d.naviks_str|split_naviks}}
	</div>
</div>

