{% extends 'base.html' %}
{% block title %}Навыки{% endblock %}
{% block body %}                
<form id="form" role="form" action="" method="post">
	<h1>Ваши навыки:</h1>
	
	<table class="table">
		<tr>
			<th>Навык</th>
			<th>С какого года</th>
		</tr>
		<tr>
			<td>
				<input type="text" name="nname0" placeholder="C++" value="{{object.naviks.0.navik.name}}" class="nname form-control"/>
			</td>
			<td>
				<input type="text" name="nyear0" placeholder="2010" value="{{object.naviks.0.srok}}" class="nyear form-control"/>
			</td>			
		</tr>
		<tr>
			<td>
				<input type="text" name="nname1" placeholder="python" value="{{object.naviks.1.navik.name}}" class="nname form-control"/>
			</td>
			<td>
				<input type="text" name="nyear1" placeholder="2015" value="{{object.naviks.1.srok}}" class="nyear form-control"/>
			</td>			
		</tr>
		<tr>
			<td>
				<input type="text" name="nname2" value="{{object.naviks.2.navik.name}}" class="nname form-control"/>
			</td>
			<td>
				<input type="text" name="nyear2" value="{{object.naviks.2.srok}}" class="nyear form-control"/>
			</td>			
		</tr>
		<tr>
			<td>
				<input type="text" name="nname3" value="{{object.naviks.3.navik.name}}" class="nname form-control"/>
			</td>
			<td>
				<input type="text" name="nyear3" value="{{object.naviks.3.srok}}" class="nyear form-control"/>
			</td>			
		</tr>
		<tr>
			<td>
				<input type="text" name="nname4" value="{{object.naviks.4.navik.name}}" class="nname form-control"/>
			</td>
			<td>
				<input type="text" name="nyear4" value="{{object.naviks.4.srok}}" class="nyear form-control"/>
			</td>			
		</tr>		
	</table>
	
	
	<div class="form-group mt10">
		<label for="interes">
			Дополнительные навыки: <small>перечислите через запятую</small>
		</label>
		<input type="text" class="form-control" name="interes" id="interes" placeholder="javascript, jQuery, bootstrap" value="{{object.interes|default:""}}"/>
	</div>
	
	<button type="button" class="btn btn-primary" onclick="document.getElementById('form').submit()">Сохранить</button>
	<p>&nbsp;</p>
</form>

{% endblock %}
