{% extends 'base.html' %}
{% load myextras %}
{% load humanize %}
{% block title %}{{object.title}}{% endblock %}
{% block description %}{{object.short_text}}{% endblock %}
{% block body %}                
<div class="page-content main_page_content">
	{% if msg %}<div class="alert alert-danger">{{msg}}</div>{% endif %}
	<div class="row">
		<div class="col-md-9">
			<div class="media-body">
				{% if object.image %}
				<a class="pull-left" href="{{object.getLink}}" target="_blank"><img src="{{object.get_image_url}}" alt="{{object.title}}" style="max-width:400px;max-height:400px;margin-right: 20px;"/></a>
				{% endif %}
				<div class="media-body">
					<h1>{{object.title}}</h1>
					<h3><a href="{{object.getLink}}" target="_blank">{{object.link}}</a></h3>
					<p class="fs120">{{object.short_text|default:""}}</p>
					{% if object.is_open %}
						<p class="h4 text-success">открыт для новых участников</p>
						{% if not user_in_project %}
							<a class="btn btn-success" href="{% url 'want_to_project' object.pk %}">Хочу присоединиться!</a>
						{% endif %}
					{% endif %}
				</div>
			</div>
			<p>{{object.description|default:""|urlize|linebreaks}}</p>
			{% if object.tehs %}
			<h3>Используемые технологии в {{object.title}}</h3>
			<p>{{object.tehs|split_tehs|default:"не указаны"}}</p>
			{% endif %}
			{% if current_user == object.man.user %}
			<p>
				<a class="btn btn-danger pull-right" href="{% url 'edit_project' object.pk %}?rm=1" onclick="return confirm('Удалить?')">Удалить</a>
				<a class="btn btn-warning pull-right" href="{% url 'edit_project' object.pk %}">Редактировать</a>
			</p>
			{% endif %}
		</div>
		<div class="col-md-3">
			<h3>Участники проекта</h3>
			<div class="row">
				<div class="col-md-12 text-center">
					<p><a href="{{object.man.get_absolute_url}}"><img style="max-width:150px;max-height:150px;" src="{{object.man.get_image_url}}" alt="{{object.man.name}}" /></a></p>
					<p><a href="{{object.man.get_absolute_url}}">{{object.man.name}}</a></p>
				</div>
			
				{% for d in object.mans %}
				<div class="col-md-12 text-center">
					<p><a href="{{d.man.get_absolute_url}}"><img style="max-width:150px;max-height:150px" src="{{d.man.get_image_url}}" alt="{{d.man.name}}" /></a></p>
					<p><a href="{{d.man.get_absolute_url}}">{{d.man.name}}</a></p>
					{% if object.man == current_man %}
					<p><a href="?rmman={{d.id}}">убрать</a></p>
					{% endif %}
				</div>
				{% endfor %}
				{% if current_user == object.man.user %}
					{% for d in object.candidates %}
					<div class="col-md-12 text-center">
						<p><a href="{{d.man.get_absolute_url}}"><img style="max-width:150px;max-height:150px" src="{{d.man.get_image_url}}" alt="{{d.man.name}}" /></a></p>
						<p><a href="{{d.man.get_absolute_url}}" class="text-warning">Кандидат {{d.man.name}}</a></p>
						{% if object.man == current_man %}
						<p>
							<a href="?commit={{d.id}}" class="text-success">подтвердить</a>
							<a href="?rmman={{d.id}}" class="text-danger">убрать</a>
						</p>
						{% endif %}
					</div>
					{% endfor %}
				{% endif %}
				{% if current_user == object.man.user %}
				<div class="col-md-12 text-center">
					<p><button data-target="#add_project_man_dlg" data-toggle="modal" class="btn" style="height:120px;width:158px">Добавить<br/>участника</button></p>
				</div>
				
				{% include 'add_project_man.htm' %}
				{% endif %}
			</div>
		</div>
	</div>
	
	
	<h3>Комментарии</h3>
	
	{% for d in object.comments %}
	<div class="panel">
		<div class="panel-body">
			{% if object.man == current_man %}
			<a class="hide_comment hided_link pull-right" href="{% url 'project' object.id %}?rmcomment={{d.id}}">скрыть</a>
			{% endif %}
			<p>
				{{d.user.man.name|default:'Аноним'}} {{d.dt|naturalday}}
			</p>
			<p>{{d.text}}</p>
		</div>
	</div>
	{% endfor %}
	
	{% if current_man.is_active %}
	<div class="make-comment-block mt20">
		<form method="post" action="">
			<label for="comment-text">Комментарий</label>
			<textarea class="form-control" name="comment-text" id="comment-text" placeholder="Текст комментария"></textarea>
			<button class="btn btn-primary">Отправить</button>
		</form>
	</div>
	{% else %}
	<a href="/" class="btn btn-primary">Зарегистрируйтесь, чтобы оставить комментарий</a>
	{% endif %}

</div>

{% endblock %}

