{% extends 'base.html' %}
{% load static %}
{% block title %}Восстановление пароля{% endblock %}
{% block body %}                
<!--BEGIN CONTENT-->
<div class="page-content main_page_content">
{% if no_user %}
	<h3 class='alert alert-danger'>Пользователь с E-Mail {{email}} не зарегистрирован.</h3>
{% endif %}

{% if newpassword %}
	<h3 class='alert alert-success'>Ваш новый пароль <b>{{newpassword}}</b> <a href="{% url 'edit_profile' current_man.pk %}">сменить пароль</a></h3>
{% else %}

	{% if badacode %}
		<h3 class='alert alert-danger'>Ваш код подтверждения не действителен.</h3>
	{% endif %}

	{% if all_good %}
		<h3 class='alert alert-success'>На {{email}} отправлено письмо со ссылкой на сброс пароля.</h3>
	{% else %}
		<form method="post" action="" enctype="multipart/form-data">
			{% csrf_token %}
			<div class="form-group">
				<label class="control-label" for="inputEmail">Введите ваш E-Mail:</label>
				<div class="input-icon right">			
					<i class="fa fa-globe"></i>
					<input name="email" type="text" class="form-control" placeholder="e-mail" value="{{email|default:""}}" id="inputEmail">
				</div>
			</div>
			<button class="btn btn-success">Отправить</button>
		</form>
	{% endif %}
{% endif %}
</div>
{% endblock %}
