{% extends 'base.html' %}
{% block title %}Поиск {{search_text}}{% endblock %}
{% block body %}                
<div class="page-content main_page_content">
<p>Результаты поиска по словам "{{search_text}}": {{rcount}}</p>
{% for d in sr1 %}
	{% include 'topic.htm' %}
{% endfor %}
{% for d in sr2 %}
	{% include 'topic.htm' %}
{% endfor %}
</div>
{% endblock %}
