{% extends 'base.html' %}
{% load myextras %}
{% block title %}Поиск проектов {{teh}}{% endblock %}
{% block body %}                
<div class="page-content main_page_content">
<h3>Проекты с использованием {{interes}}</h3>
<div class="row">
{% for d in sr1 %}
	<div class="col-md-4">
		<div class="media">
			<a class="pull-left" href="{% url 'project' d.pk %}">
				<img class="media-object" alt="avatar" style="width: 64px; height: 64px;" src="{{d.get_image_url}}">
			</a>
			<div class="media-body">
				<h4 class="media-heading"><a href="{% url 'project' d.pk %}">{{d.title}}</a></h4>
				{{d.short_text|default:""}}<br/>
				{{d.tehs|split_tehs}}
			</div>
		</div>
	</div>
{% endfor %}
</div>

{% if rcount2 %}
<div class="mt20">
	<h3>Статьи с упоминанием {{interes}}</h3>
	{% for d in sr2 %}
		{% include 'topic.htm' %}
	{% endfor %}
</div>
{% endif %}
{% endblock %}
