{% extends 'base.html' %}
{% block title %}Поиск {{search_text}}{% endblock %}
{% block body %}                
<div class="page-content main_page_content">
{% if interes %}
<h3>{{interes}} интересуются</h3>
{% else %}
<h3>{{search_text}}</h3>
{% endif %}
<div class="row">
{% for d in sr1 %}
	<div class="col-md-4">
		{% include 'man_resume.htm' %}
	</div>
{% endfor %}
</div>
<div class="row">
{% for d in sr2 %}
	<div class="col-md-4">
		{% include 'man_resume.htm' %}
	</div>
{% endfor %}
</div>

{% if rcount2 %}
<div class="mt20">
	<h3>Статьи с упоминанием {{interes}}</h3>
	{% for d in tsr1 %}
		{% include 'topic.htm' %}
	{% endfor %}
</div>
{% endif %}

</div>
{% endblock %}
