{% load myextras %}
{% load humanize %}
<div class="topic  note note-warning">
	<table class="width100">
		<tr>
			<td style="width: 40px">
				{% if d.group %}
					<a href="{% url 'group' d.group.pk %}"><img style="width:36px;height:36px;float:left;" src="{{d.group.get_image_url}}" alt="{{d.group.name}}" /></a>
				{% else %}
					<a href="{{d.author.get_absolute_url}}"><img style="width:36px;height:36px;float:left;" src="{{d.author.get_image_url}}" alt="{{d.author.name}}" /></a>
				{% endif %}
			</td>
			<td>
				{% if d.group %}
					<a href="{% url 'group' d.group.pk %}" class="namelink box-heading">{{d.group.name}}</a>
				{% else %}
					<a href="{{d.author.get_absolute_url}}" class="namelink box-heading">{{d.author.name}}</a>		
				{% endif %}
			</td>
			<td rowspan="2" style="width: 100px;text-align:right" valign="top">
				<div class="width100 text-right" title="{{d.dt_str}}">{{d.dt|naturalday}}</div>
				<!--a class="hide_action hided_link bookmark_topic pull-right" href="" id="btopic{{d.id}}" ng-click="bookmarkTopic(d.id)" title="Добавить в записи">&nbsp;</a-->
				{% if show_remove or d.author == current_user.man %}
				<a class="hide_action hided_link hide_alert pull-right rmtopic" href="{% url 'remove_topic' d.pk %}" ng-click="hideAlert(d.id)" title="Удалить">&nbsp;</a>
				{% endif %}
			</td>
		</tr>
		<tr>
			<td colspan="2">
				<p style="font-size:120%">
					{% if user.is_authenticated %}
						{% if nomark == 1 %}
							{% else %}
								<a href="#" id="btopic{{d.id}}" ng-click="return bookmarkTopic({{d.id}})" class="ajax_and_hide"><span class="fa fa-bookmark"></span>&nbsp;</a>
							{% endif %}
					{% endif %}
					{% if d.xlink %}
						<a href="{{d.xlink}}" target="_blank">{{d.title}} {% if not d.is_active %}(черновик){% endif %}</a>
					{% else %}
						<a href="{% url 'article' d.pk %}">{{d.title}} {% if not d.is_active %}(черновик){% endif %}</a>
					{% endif %}
					
						<p class="text-justify">{{d.text|safe|truncatewords:100}}</p>
					
					{% if d.link %}
						<br/><a href="{{d.link}}" target="_blank" title="{{d.link}}"><small>ссылка...</small> <i class="fa fa-external-link">&nbsp;</i></a>
					{% endif %}
				</p>	
				{% if notext %}
				{% else %}
					<noscript>
					<p class="text-justify">{{d.text|safe}}</p>
					</noscript>
					
					{% if d.tags %}
						<p><small><i class="fa fa-tag"></i> {{d.tags|split_tags}}</small></p>
					{% endif %}
					
				{% endif %}
			</td>
		</tr>
	</table>
	
</div>
