{% for d in dlg.messages%}
<div class="{% if d.from_user = request.user %}to_message note-info{% else %}note-warning from_message{% endif %} note message">
	<div class='pull-right text-right' style="margin-top:-10px;margin-right:-20px;">
		{{d.dt|date:"d.m.Y H:i"}}
		<a href="{{d.from_user.man.get_absolute_url}}" title="{{d.from_user.man.name}}"><img src="{{d.from_user.man.get_image_url}}" style="max-width: 40px;max-height: 40px"/></a>
	</div>
	<p>{{d.text}}</p>
</div>
{% endfor %}

