{% extends 'base.html' %}
{% load static %}
{% load humanize %}
{% block extra_foot %}
<script type="text/javascript" src="{% static 'js/jquery-migrate-1.2.1.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jquery.shortcuts.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/chatcontroller.js' %}"></script>
{% endblock %}

{% block title %}Сообщения{% endblock %}

{% block body %}                

<div class="page-content main_page_content" ng-controller="ChatController">
	<div class="row">
		<div class="col-md-3" ng-init="loadDialogs()">
		{% verbatim %}
			<div class="media" ng-repeat="d in dialogs">
				<a class="pull-left" href="{{d.user_url}}">
					<img ng-src="{{d.user_img}}" style="width: 90px;height: 90px"/>
				</a>
				<div class="media-body">
					<h4>{{d.user_name}}</h4>
					<p>
						<a href="#" class="show_dialog" ng-click="showDialog(d.id,d.user_id)">						
							{{d.last_message}} {{d.user_id}}
						</a>
					</p>						
					<small>{{d.dt}}</small>
				</div>
			</div>
		{% endverbatim %}
		</div>
		<div class="col-md-9 chat-block">
			<div class="panel chat_panel scrollable">
				<div class="panel-body scrollable-content">
					<div class="chat_content">
						{% verbatim %}
							<div class="note message" ng-repeat="d in messages">
								<div class='pull-right text-right' style="margin-top:-10px;margin-right:-20px;">
									{{d.dt}}
									<a href="{{d.user_url}}" title="{{d.user_name}}"><img ng-src="{{d.user_img}}" style="max-width: 40px;max-height: 40px"/></a>
								</div>
								<p>{{d.text}}</p>
							</div>
						{% endverbatim %}
					</div>
				</div>
				<div class="panel-footer">
					<textarea class="message-text form-control" ng-model="current_message"></textarea>
					<button class="btn btn-primary send-message" ng-click="sendMessage()">Отправить</button>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}
