<div class="modal fade" id="send_message_dlg" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
		<form id="send_message_form" role="form" action="{% url 'send_message' object.id %}" method="post">
			<div class="form-group">
				<label for="message_text">
					Сообщение:
				</label>
				<textarea class="form-control" name="message" id="message_text" placeholder="Текст сообщения"></textarea>
			</div>
		</form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
        <button type="button" class="btn btn-primary" onclick="document.getElementById('send_message_form').submit()">Отправить</button>
      </div>
    </div>
  </div>
</div>